# Common IntelliJ Platform excludes

# JetBrains Rider & IntelliJ IDEA
**/.idea/
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

# Visual Studio & .NET-specific excludes
*.suo
*.user
*.vsp
*.vspscc
*.vssscc
*.cache
*.log
*.tlog
*.ilk
*.pch
*.obj
*.pdb
*.ipch
*.sdf
*.opensdf
*.VC.db
*.db

# Build & Release files
.vs/
[Bb]in/
[Oo]bj/
out/
dist/
publish/
_TestResults/
TestResults/

# NuGet & Paketmanager
*.nupkg
.nuget/
packages/
project.lock.json
project.assets.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Rider & VS Code-specific files
*.csproj.user
.vscode/

# Platform-specific files
Thumbs.db
Desktop.ini
.DS_Store
